# Enter the details received from gnani apiservice
[USER]
API_URL=asr.gnani.ai
TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJ1c2VyX25hbWUiOiJiJ1plQ0JscCtISmo4RkJ0MmFLQ0NKL1BCbFVkMnVMQkVSNG1FWExlZzlkbGc9JyIsImtleV9kYXRlIjoiMjAxOS0wNS0yNCJ9.o_EJBChBl4O4dHJnymoyEzvdivBfNyablww_ZS3zCJHYww0q-jCpMkMeV0PPPvpB9X8QNCs4MGKBMsLla1uHXw
ACCESSKEY= 4880bf02d67c8868fa7bf2226e7b7c6c1ec71fbf
ENCODING=pcm16
LANGUAGE_CODE=eng_IN
AUDIOFORMAT=wav
